
.container {
  text-align: center;
}

.row {
  max-width: 992px;
  margin: 100px auto 0 auto;
}

h2,
h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  margin: 21.44px 0;
}

h3 {
  font-size: 19px;
  margin: 18.72px 0;
}

img {
  height: 200px;
}

#steps,
#why {
  width: 100%;
  background-color: #f9f9f9;
  margin: 100px auto 0 auto;
}

#why img {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why .row{
  margin-top: 80px;
}

/* Media Quesry Middle Screen */

@media screen and (min-width: 768px) and (max-width: 1200px) {

  .row{
    margin-top: 0;
  }

  h2 {
    font-size: 2.2em;
    line-height: 50px;
    text-decoration: underline overline;
  }

  h3{
    font-size: 1.6em;
    min-height: 68px;
    margin: 0;
  }

  img{
    max-height: 140px;
    margin: 10px;
  }

  p{
    font-size: 18px;
    padding: 10px;
    margin: auto;
  }

  hr {
    visibility: hidden;
  }

  #lezioni .row>div,
  #steps .row>div,
  #why .row {
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 5px;
  }

  #lezioni .row>div, 
  #steps .row>div {
    min-height: 360px;
  }

  #lezioni h3{
    min-height: 32px;
  }  

  #steps,
  #why {
    padding-top: 1px;
    border-radius: 25px;
    margin: 50px auto 0 auto;
  } 

  #steps .row>div{
    position: relative;
    left: calc((100% - 75% - 18%) / 2);
    margin: 0 3%;    
  }

  #steps img {
    height: 70px;
    vertical-align: top;
  }

  #steps img,
  #steps h3{ 
    display: inline-block;
    margin: 10px 5px 0;
  }

  #steps h3{
    width: 120px;
  }

  #steps p::before{
    content: "";
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 20px;
    display: block;
  }

  #why .row {    
    width: 30%;
    min-height: 400px;
    display: inline-block;
    margin: 0 10px;  
  }
  
  #why h3 {
    border-bottom: 2px solid rgb(6, 9, 61);
    margin: 10px 0px 0px 0px;   
  } 

}
/* /Media Quesry Middle Screen */

/* Media Quesry Small Screen */

@media all and (max-width: 767px){

  .row{
    margin-top: 0;
  }

  h2 {
    font-size: 2.2em;
    line-height: 50px;
    text-decoration: underline overline;
  }
  img,
  h3 {
    display: inline-block;
    margin: 10px 5px 0;
  }
  
  h3{
    font-size: 1.6em;
    margin-bottom: 10px;
  }

  img{
    max-height: 120px;
    margin: 10px;
  }
  
  p{
    font-size: 18px;
    padding: 10px;
    margin: auto;
  }

  hr {
    visibility: hidden;
  }

  .row>div {
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
  }

  #lezioni .row>div {
    min-height: 300px;
  }
  #lezioni h3{
    min-height: 32px;
  }  

  #steps,
  #why {
    padding-top: 1px;
    border-radius: 25px;
    margin: 50px auto 0 auto;
  } 

  #steps .row>div,
  #why .row {
    min-height: 200px;
    margin-top: 10px;
  }

  #steps img {
    height: 70px;
    vertical-align: bottom;
  }  

  #steps p::before{
    content: "";
    border: 2px solid black;
    border-radius: 2px;
    margin-bottom: 20px;
    display: block;
  }  
  
  #why h3 {
    border-bottom: 2px solid rgb(6, 9, 61);
    padding: 10px;
    margin: 10px 0px 10px 0px;   
  }

  #why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 15px
}  

}

/* Media Quesry Small Screen */