
#steps, #why {
  width: 100%;
  background-color: #f9f9f9;
  margin: 100px auto 0 auto;
}

img {
  height: 200px;
}
#why img {
  height: 260px;
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}
#why .container>.row{
  margin-top: 80px;
}
.container {
  text-align: center;
}
.row {
  max-width: 992px; 
  margin: 100px auto 0 auto;
}

h2, h3{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  margin: 21.44px 0;
}
h3 {
  font-size: 19px;
  margin: 18.72px 0;
}



@media screen and (min-width: 769px) and (max-width: 1200px) {

  .row{
    margin-top: 0;
  }
  img{
    height: 160px;
  }

  p{
    font-size: 20px;
    padding: 20px;
    margin: auto;
  }
  
  #why .row {
    min-height: 470px;
    display: inline-block;
    width: 30%;
  }
  #why img {
    max-height: 140px;
  }
  #why h3 {
    min-height: 44px ;
    font-size: 18px;
    
  }
  #why p{
    width: 100%;
    font-size: 18px;
    text-align: justify;
    text-justify: distribute;
  }

  hr{
    visibility: hidden;
  }

}